@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;
@use "@teek/styles/mixins/function" as *;

@include b(pro-dialog) {
  &.#{$el-namespace}-dialog {
    // 全屏动画
    transition:
      width cssVarEl(transition-duration) ease,
      margin-top cssVarEl(transition-duration) ease;

    &.is-fullscreen {
      --#{$el-namespace}-dialog-width: 100% !important;
      --#{$el-namespace}-dialog-margin-top: 0 !important;

      height: 100%;
      margin-bottom: 0;
      overflow: auto;
    }
  }

  @include e(footer) {
    display: flex;
    align-items: center;
  }

  .fullscreen-icon {
    margin-top: -7px;
  }
}
