@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/function" as *;

@include b(right-menu) {
  position: absolute;
  z-index: 9999;
  padding: 5px;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: cssVar(text-gray-800);
  list-style-type: none;
  background: cssVar(bg-color);
  border: 1px solid cssVarEl(border-color-light);
  border-radius: 9px;
  box-shadow: cssVar(box-shadow-xs);

  @include e(item) {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 7px;
    margin: 0;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    transition: background-color cssVar(transition-duration-fast);

    &:hover:not(.is-disabled) {
      color: cssVarEl(color-primary);
      background-color: cssVarEl(color-primary-light-9);
    }

    @include is(disabled) {
      color: cssVarEl(text-color-disabled);
      cursor: not-allowed;
    }

    .right-menu-icon {
      margin-right: 8px;
      font-size: 14px;
    }
  }

  .divided {
    margin: 5px 0;
    border-top: 1px solid cssVarEl(border-color-lighter);
  }
}
