@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;
@use "@teek/styles/mixins/function" as *;

@include b(pro-descriptions) {
  @include el-joins(descriptions) {
    // label 背景色
    --#{$el-namespace}-descriptions-item-bordered-label-background: rgb(
      var(--#{$teek-namespace}-gray-200-rgb),
      0.6
    ) !important;
  }

  @include e(label) {
    min-width: 80px;

    &.is-required {
      &::before {
        margin-right: 4px;
        color: cssVarEl(color-danger);
        content: "*";
      }
    }
  }
}
