@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;

@include b(pro-table) {
  height: 100%;
  @include el-joins(table) {
    // 修复 safari 浏览器表格错位
    table {
      width: 100%;

      thead {
        color: var(--#{$teek-namespace}-text-gray-700);

        th {
          font-size: 15px;

          //  header 文字不换行，并 ... 省略
          .cell {
            white-space: nowrap;
          }
        }
      }

      tbody {
        // 单元格字体颜色
        // color: var(--#{$teek-namespace}-text-gray-800);
      }
    }
  }
}
