@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/function" as *;

@include b(pro-table-filter) {
  @include e(buttons) {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-top: 10px;
  }
}

@include b(pro-table-filter-icon) {
  margin-left: 4px;
  vertical-align: -2px;
  cursor: pointer;

  @include is(active) {
    color: cssVar(color-primary);
  }
}
