@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/function" as *;

@include b(pro-table-head) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;

  @include e(right) {
    display: flex;
    gap: 12px;
    align-items: center;

    .head__tool-button {
      width: 32px;
      margin-left: 0;
      color: cssVar(gray-700);
      outline: none;
      background-color: cssVar(gray-200);
      border: none;

      &:hover {
        background-color: cssVar(gray-300);
      }
    }
  }
}
