@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;
@use "@teek/styles/mixins/function" as *;

@include b(pagination) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 2px 0;
}
