@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;

@include b(pro-drawer) {
  &.#{$el-namespace}-drawer.is-fullscreen {
    width: 100% !important;
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
  }

  @include e(footer) {
    display: flex;
    align-items: center;
  }
}
